.search {
  padding: 2.6rem 1.9rem;
  background-image: url('./../../assets/HeroImagesm.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2.4rem 2.4rem 0 0;
  margin-top: 2.4rem;
}

.logoHeading {
  font-family: var(--font-logo);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 0.73rem;
}

.description {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.82rem;
}

/* this one is for desktop view, under construction */
.searchOptionsContainer {
  height: 8rem;
  color: var(--color-black);
  background-color: var(--color-white);
  overflow: scroll;
}
/* this one is for desktop view, under construction */
.searchOptionsContainer {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 16rem;
}

.form {
  position: relative;
}

.searchInput {
  width: 9.1621rem;
  padding: 0.72rem 1.3rem 0.85rem 1.3rem;
  border-radius: 5rem;
  font-family: var(--font-main);
  color: var(--color-brown);
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
  border: none;
}

.iconSearch {
  position: absolute;
  left: 6.6rem;
  top: 0.72rem;

  height: 1.5rem;
  width: auto;
}

.logo {
  display: none;
}

/**************************
**** Search Mobile View ***
***************************/
.formMobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  height: 100vh;
  overflow: scroll;
  z-index: 999;
}
.inputContainerMobile {
  position: relative;
}

.searchOptionsContainerMobile {
  padding: 15.5rem 1.8rem 3rem 1.8rem;
}
.searchOptionsContainerMobile li {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2.14rem 0.92rem;
  color: var(--color-black);
  list-style: none;
  border-radius: 1.2rem;
}
.searchOptionsContainerMobile li:active {
  background-color: var(--color-dark-gray);
}
.iconSearchMobile {
  height: 2.4rem;
}
.submitButton {
  height: 2.4rem;
  position: absolute;
  top: 1.08rem;
  right: 2rem;
  background: none;
  border: none;
  outline: none;
}
.searchInputMobile {
  font-family: var(--font-main);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-brown);

  width: 100%;
  padding: 1.18rem 5rem 1.18rem 2rem;
  border: 0.1rem solid var(--color-brown);
  border-radius: 5rem;
  outline: none;
}

.iconCloseContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 3rem;
}
.iconClose {
  display: flex;
  height: 4rem;
  width: 4rem;
  background-color: var(--color-dark-gray);
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 0.8rem;
}

.containeMobiler {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  padding: 0.7rem 1.8rem 3rem 1.8rem;
}

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .search {
    padding: 5.6rem 4rem;
    padding-bottom: 7rem;
    background-image: url('./../../assets/HeroImagemd.png');
    margin-top: 2.4rem;
  }
  .logoHeading {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  .description {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 2.4rem;
  }
  .searchInput {
    width: 16rem;
    padding: 1.2rem 1.8rem 1.24rem 1.8rem;
    font-size: 1.6rem;
  }

  .iconSearch {
    left: 12.8rem;
    top: 1.1rem;
    height: 2rem;
  }

  /* mobile options */
  .containeMobiler {
    padding: 2.4rem 14rem 4rem 14rem;
  }
  .iconCloseContainer {
    margin-bottom: 4rem;
  }
  .iconClose {
    height: 4.8rem;
    width: 4.8rem;
    font-size: 1.8rem;
  }
  .inputContainerMobile {
    position: relative;
  }
  .submitButton {
    height: 2.4rem;
    position: absolute;
    top: 1.08rem;
    right: 2rem;
    background: none;
    border: none;
    outline: none;
  }
  .searchInputMobile {
    padding: 1.18rem 5rem 1.18rem 3rem;
  }

  .searchOptionsContainerMobile {
    padding: 19rem 14rem 3rem 14rem;
  }
}
/* tablet landscape view: between 900px and 1200px */
@media screen and (min-width: 900px) {
  .search {
    padding: 7rem 6rem;
    padding-bottom: 9.6rem;
    margin-top: 3rem;
  }
  .formMobile {
    display: none;
  }
  .logoHeading {
    display: none;
  }
  .logo {
    display: inline-block;
    height: 5.6rem;
    width: auto;
    margin-bottom: 2.4rem;
  }
  .description {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 4.8rem;
  }
  .searchInput {
    width: 28rem;
    padding: 1.2rem 4.8rem 1.24rem 2.4rem;
    font-size: 1.8rem;
  }
  .iconSearch {
    left: 24rem;
    top: 1.3rem;
    height: 2rem;
  }
  /* search options */
  .searchOptionsContainer {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 28rem;
    height: 18rem;
    border-radius: 2.4rem;
    padding: 1.13rem;
  }
  .searchOption {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-black);
    list-style: none;
    padding: 1.4rem 1.3rem;
    border-radius: 1.2rem;
    transition: background 360ms ease-in-out;
  }
  .searchOption:hover {
    background-color: var(--color-dark-gray);
  }
}

/* laptop view: between 1200px and when ever the design breaks */
@media screen and (min-width: 1200px) {
  .search {
    margin-top: 3rem;
    padding: 11.56rem 10.8rem 14.45rem 10.8rem;
    background-image: url('./../../assets/HeroImagelg.png');
    border-radius: 4.8rem 4.8rem 0 0;
  }
  .logo {
    display: inline-block;
    height: 8.7rem;
    width: auto;
    margin-bottom: 1.12rem;
  }
  .description {
    margin-bottom: 5.23rem;

    font-size: 2.4rem;
    line-height: normal;
  }
  .searchInput {
    width: 39rem;
    padding: 2.38rem 2.86rem;
    font-size: 1.8rem;
  }
  .iconSearch {
    height: 2.4rem;
    width: auto;
    top: 2.28rem;
    left: 34.73rem;
  }
  .searchOptionsContainer {
    top: 8.67rem;
    width: 39rem;
    height: 22rem;

    padding: 1.13rem;
  }
  .searchOption {
    font-size: 1.8rem;
    padding: 2rem 0.92rem;
  }
}
