.search {
  padding: 2.6rem 1.9rem;
  background-image: url('./../../assets/HeroImagesm.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2.4rem 2.4rem 0 0;
  margin-top: 2.4rem;
}

.search h2 {
  font-family: var(--font-logo);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 0.73rem;
}

.search p {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.82rem;
}

/* this one is for desktop view, under construction */
.searchOptionsContainer {
  height: 8rem;
  color: var(--color-black);
  background-color: var(--color-white);
  overflow: scroll;
}
/* this one is for desktop view, under construction */
.searchOptionsContainer {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 16rem;
}

.form {
  position: relative;
}

.searchInput {
  width: 9.1621rem;
  padding: 0.72rem 1.3rem 0.85rem 1.3rem;
  border-radius: 5rem;
  font-family: var(--font-main);
  color: var(--color-brown);
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
  border: none;
}

.iconSearch {
  position: absolute;
  left: 6.6rem;
  top: 0.72rem;

  height: 1.5rem;
  width: auto;
}

/**************************
**** Search Mobile View ***
***************************/
.formMobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  height: 100vh;
  overflow: scroll;
  z-index: 999;
}
.inputContainerMobile {
  position: relative;
}

.searchOptionsContainerMobile {
  padding: 15.5rem 1.8rem 3rem 1.8rem;
}
.searchOptionsContainerMobile li {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2.14rem 0.92rem;
  color: var(--color-black);
  list-style: none;
  border-radius: 1.2rem;
}
.searchOptionsContainerMobile li:active {
  background-color: var(--color-dark-gray);
}
.iconSearchMobile {
  height: 2.4rem;
}
.submitButton {
  height: 2.4rem;
  position: absolute;
  top: 1.08rem;
  right: 2rem;
  background: none;
  border: none;
  outline: none;
}
.searchInputMobile {
  font-family: var(--font-main);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-brown);

  width: 100%;
  padding: 1.18rem 5rem 1.18rem 2rem;
  border: 0.1rem solid var(--color-brown);
  border-radius: 5rem;
  outline: none;
}

.iconCloseContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 3rem;
}
.iconClose {
  display: flex;
  height: 4rem;
  width: 4rem;
  background-color: var(--color-dark-gray);
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 0.8rem;
}

.containeMobiler {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  padding: 0.7rem 1.8rem 3rem 1.8rem;
}

@media screen and (min-width: 600px) {
  .formMobile {
    display: none;
  }
}
