.breedPageContainer {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2.4rem;
}
.imgContainer {
}
.breedImage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2.4rem;
  margin-bottom: 4rem;
}


.breedName {
  color: #291507;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.description {
  color: #291507;

  font-size: 1.6rem;

  font-weight: 500;
  margin-bottom: 2.4rem;
}
.stat {
  color: #000;

  font-size: 1.4rem;

  font-weight: 500;
  margin-bottom: 2.4rem;
}
.stat span {
  display: inline-block;
  font-weight: 700;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.otherImageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  margin-bottom: 8rem;
}
.otherImage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

  border-radius: 2.4rem;
}
.heading {
  color: #291507;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
  margin-top: 6rem;
}
