.breedPageContainer {
  margin-top: 2.4rem;
}

.imgContainer {
  position: relative;
}

.span {
  display: inline-block;
  width: 2rem;
  height: 74%;

  position: absolute;
  top: 10%;
  left: -0.8rem;

  border-radius: 1.4rem 0 0 1.4rem;
  background-color: var(--color-pale-yellow);
  z-index: -1;
}

.breedImage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2.4rem;
  margin-bottom: 4rem;
}

.breedName {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-brown);
  margin-bottom: 4rem;
}

.description {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-brown);
  margin-bottom: 2.4rem;
  line-height: 1.3;
}
.statContianer {
  margin-bottom: 2.4rem;
}
.stat {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.stat span {
  display: inline-block;
  font-weight: 700;
  margin: 0 1rem 0 0;
  line-height: 1.4;
}

.heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-brown);
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.otherImageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  margin-bottom: 8rem;
}

.otherImage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2.4rem;
}

.details .breedName {
  display: none;
}

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .breedName {
    display: none;
  }
  .details .breedName {
    display: inline-block;
  }
  .detailsContainer {
    display: grid;
    grid-template-columns: 36% 1fr;
    column-gap: 3.6rem;
  }
  .imgContainer {
    align-self: start;
  }
  .breedImage {
    margin: 0;
  }
  .statContianer {
    margin-bottom: 3.6rem;
  }
  .otherImageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 2.4rem;
    margin-bottom: 8rem;
  }
}

/* tablet landscape view: between 900px and 1200px */
@media screen and (min-width: 900px) {
  .detailsContainer {
    grid-template-columns: 30rem 1fr;
    column-gap: 6rem;
  }
  .statScore {
    display: grid;
    column-gap: 1.2rem;
    grid-template-columns: 14rem 60%;
    align-items: center;
  }
  .stat {
    margin: 0;
  }
  .breedPageContainer {
    margin-top: 2.4rem;
    padding: 3.6rem;
  }
  .breedImage {
    margin-bottom: 0rem;
  }
  .breedName {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-brown);
    margin-bottom: 2.4rem;
  }
  .statContianer {
    margin-bottom: 3rem;
  }
  .heading {
    font-size: 3rem;
  }
  .otherImageContainer {
    gap: 3.6rem;
    margin-bottom: 0;
  }
  .breedPageContainer {
    margin-bottom: 12rem;
  }
  .span {
    width: 2.2rem;
    height: 80%;
    top: 10%;
    left: -1rem;
  }
}

/* laptop view: between 1200px and when ever the design breaks */
@media screen and (min-width: 1200px) {
  .detailsContainer {
    grid-template-columns: 34.14rem 1fr;
    column-gap: 11.5rem;
  }
  .breedName {
    font-size: 3.6rem;
    margin-bottom: 2.5rem;
  }
  .description {
    font-size: 1.8rem;

    margin-bottom: 3.27rem;
    line-height: normal;
  }
  .stat {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
  }
  .statScore {
    display: grid;
    column-gap: 1.2rem;
    grid-template-columns: 17.8rem 47.3%;
    align-items: center;
    margin-bottom: 3.2rem;
  }
  /* to make alignement easier */
  .statScore:last-child {
    margin-bottom: 0;
  }
  .statScore .stat {
    margin-bottom: 0;
  }

  /*  */
  .heading {
    font-size: 3.6rem;
    margin-bottom: 4rem;
    margin-top: 8.02rem;
  }
  .otherImageContainer {
    column-gap: 4.6rem;
    row-gap: 5.31rem;
  }
  .breedPageContainer {
    padding-bottom: 0;
    margin-bottom: 17.7rem;
  }
}
