.scoreContainer {
  display: flex;
  gap: 1rem;
}
.score {
  display: inline-block;
  width: 100%;
  height: 1rem;
  border-radius: 0.6rem;
  background: var(--color-gray);
}

.scoreActive {
  background: var(--color-light-brown);
}

/* tablet landscape view: between 900px and 1200px */
@media screen and (min-width: 900px) {
}
