.span {
  width: 5rem;
  height: 0.3rem;
  background-color: #291507;
  border-radius: 7.7rem;
  display: inline-block;
  margin-top: 6.37rem;
  margin-bottom: 1.62rem;
}
.heading {
  color: #291507;

  font-family: Montserrat;
  font-size: 4rem;

  font-weight: 700;

  margin-bottom: 4.28rem;
}
.description {
  color: #291507;

  font-family: Montserrat;
  font-size: 1.8rem;

  font-weight: 500;

  margin-bottom: 2.7rem;
}
.link {
  color: rgba(41, 21, 7, 0.6);
  display: inline-block;
  font-family: Montserrat;
  font-size: 1.2rem;

  font-weight: 700;

  text-transform: uppercase;
  margin-bottom: 6rem;
}
