.span {
  width: 5rem;
  height: 0.3rem;
  background-color: #291507;
  border-radius: 7.7rem;
  display: inline-block;
  margin-top: 6.37rem;
  margin-bottom: 1.62rem;
}
.heading {
  color: #291507;

  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;

  font-weight: 700;

  margin-bottom: 4.28rem;
}
.description {
  color: #291507;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;

  font-weight: 500;

  margin-bottom: 2.7rem;
}
.link {
  color: rgba(41, 21, 7, 0.6);
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;

  font-weight: 700;

  text-transform: uppercase;
  margin-bottom: 6rem;
}

.imgContainer {
  display: grid;
  /* these values are based on the percentages of the design */
  grid-template-columns: 50.7457227% 44.2433628%;
  /* this allows for fliud heights */
  grid-template-rows: auto auto;

  gap: 1.7rem;

  height: auto;
  margin-bottom: 2.23rem;
}
.catImg {
  width: 100%;
  height: auto;
}

.oddImg {
  display: inline-block;
  /* this value is based on the design, to make sure it has a concistent look */
  width: 71.4720859%;
  height: auto;
  justify-self: end;
}

.sideImg {
  /* positioning the side image to the side and for it to take two rows */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
