.article {
  font-family: 'Montserrat', sans-serif;
  margin-top: 2.6rem;
}
.headingPrimary {
  color: #291507;

  font-family: Montserrat;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2rem;
}

.headingSecondary {
  color: #291507;

  font-family: Montserrat;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
  margin-bottom: 1.6rem;
}
.paragraph {
  color: #291507;

  font-size: 1.4rem;

  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1.6rem;
}
.listItem strong {
  color: #291507;
}

.listItem {
  color: hsla(25, 71%, 9%, 0.6);
  list-style: none;
  font-size: 1.3rem;

  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1.6rem;
}
.source {
  display: inline-block;
  color: #291507;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
