.article {
  margin-top: 2.6rem;
}
.headingPrimary {
  font-size: 2.2rem;
  font-weight: 700;

  color: var(--color-brown);
  margin-bottom: 2.4rem;
}

.headingSecondary {
  font-size: 1.8rem;
  font-weight: 600;

  color: var(--color-brown);
  text-decoration: underline;
  margin-bottom: 1.6rem;
}
.paragraph {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;

  color: var(--color-brown);
  margin-bottom: 1.2rem;
}
.listItem strong {
  color: var(--color-brown);
}

.listItem {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-faded-brown);

  line-height: 1.4;
  list-style: none;
  margin-bottom: 1.6rem;
}
.source {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-brown);
  margin-bottom: 3rem;
}

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .headingPrimary {
    font-size: 2.4rem;

    margin-bottom: 3.6rem;
  }
  .headingSecondary {
    font-size: 2rem;
    margin-bottom: 2.4rem;
  }
  .paragraph {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
  .listItem {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}
