.articleComponent {
}
.decoration {
  display: inline-block;
  width: 5rem;
  height: 0.3rem;

  background-color: var(--color-brown);
  border-radius: 7.7rem;
  margin-bottom: 1.62rem;
}

.heading {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-brown);
  margin-bottom: 4.28rem;
}
.description {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-brown);
  margin-bottom: 2.7rem;
}
.link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 6rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-faded-brown);

  text-transform: uppercase;

  text-decoration: none;
}
.linkArrow {
  font-size: 1.6rem;
}

.imgContainer {
  display: grid;
  /* these values are based on the percentages of the design */
  grid-template-columns: 50.74% 44.24%;
  /* this allows for fliud heights */
  grid-template-rows: auto auto;
  gap: 1.7rem;
  height: auto;

  margin-bottom: 2.23rem;
}
.catImg {
  width: 100%;
  height: auto;
}

.oddImg {
  display: inline-block;
  /* this value is based on the design, to make sure it has a concistent look */
  width: 71.47%;
  height: auto;
  justify-self: end;
}

.sideImg {
  /* positioning the side image to the side and for it to take two rows */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .articleComponent {
    display: grid;
    grid-template-columns: 1fr 42%;
    grid-template-rows: auto;
    padding: 0 4rem;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3.6rem;
  }
  .imgContainer {
    justify-self: start;
    align-self: start;
  }
  .heading {
    font-size: 3.4rem;
    margin-bottom: 2.6rem;
  }
  .description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .link {
    margin-bottom: 0rem;
  }
}

/* tablet landscape view: between 900px and 1200px */
@media screen and (min-width: 900px) {
  .articleComponent {
    grid-template-columns: 1fr 50%;
    padding: 0 6rem;
    gap: 4rem;
    margin-bottom: 8rem;
  }
  .heading {
    font-size: 4rem;
    margin-bottom: 3.6rem;
  }
  .description {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 3.6rem;
  }
  .decoration {
    width: 6rem;
    line-height: normal;
  }
  .link {
    margin-bottom: 0rem;
    font-size: 1.4rem;
  }
  .imgContainer {
    gap: 2.2rem;
    margin-bottom: 0rem;
  }
}

/* laptop view: between 1200px and when ever the design breaks */
@media screen and (min-width: 1200px) {
  .articleComponent {
    gap: 4.6rem;
    grid-template-columns: 1fr 54.6%;
    margin-bottom: 10.09rem;
  }
  .imgContainer {
    column-gap: 2.7rem;
    row-gap: 2.86rem;
    margin-bottom: 0rem;
  }
  .decoration {
    width: 6.72rem;
    margin-bottom: 1.67rem;
  }
  .heading {
    font-size: 4.8rem;
    margin-bottom: 4.4rem;
  }
  .description {
    font-size: 1.8rem;
    margin-bottom: 6.6rem;
  }
  .link {
    font-size: 1.8rem;
  }
}

/* 103.3 */
/* 98.7  */
/* 45.4% */
/* 54.6% */
