.footer {
  color: var(--color-white);
  background-color: var(--color-black);

  padding: 3rem 1.7rem 3rem 2.9rem;
  border-radius: 4.2rem 4.2rem 0 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2.5rem;
  width: auto;
  outline: var(--color-white);
  padding-right: 1.4rem;
}
.paragraph {
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 400;
}

.copy {
  color: var(--color-white);
  margin-right: 0.7rem;
  font-size: 2.4rem;
  font-weight: 400;
}
.username {
  color: var(--color-white);
  font-weight: 600;
  margin: 0 0.3rem;
}

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .footer {
    padding: 3rem 2rem 3rem 4.4rem;
  }
  .logo {
    height: 3rem;
  }
  .paragraph {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.2rem;
  }
}
