.link {
  text-decoration: none;
  margin-bottom: 0.5rem;
  /* box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1); */
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1.2rem;
  margin-bottom: 1.16rem;
}

.name {
  color: #291507;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.firstLinkImg {
}
