.container {
  background-color: var(--color-light-gray);
  padding: 1.82rem 2.9rem 5.3rem 2.9rem;
  border-radius: 0 0 2.4rem 2.4rem;
  margin-bottom: 6.37rem;
}
.breedContainer {
  display: grid;
  gap: 1.3rem;
  grid-template-columns: 1fr 1fr;
}

.headingLink {
  text-decoration: none;
}
.headingSecondary {
  font-family: var(--font-main);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-brown);
  margin-bottom: 0.53rem;
}
.headingPrimary {
  font-family: var(--font-main);
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-brown);
  margin-bottom: 2.6rem;
}
.underline {
  display: inline-block;
  width: 4.0887rem;
  height: 0.3rem;
  background-color: var(--color-brown);
  border-radius: 7rem;
  margin-bottom: 1.73rem;
}

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .container {
    background-color: var(--color-light-gray);
    padding: 2.4rem 4rem 5.3rem 4rem;
    border-radius: 0 0 2.4rem 2.4rem;
    margin-bottom: 6.37rem;
  }
  .breedContainer {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .headingSecondary {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }
  .underline {
    width: 5rem;
    height: 0.3rem;
    margin-bottom: 2rem;
  }
  .headingPrimary {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }
}

/* tablet landscape view: between 900px and 1200px */
@media screen and (min-width: 900px) {
  .container {
    background-color: var(--color-light-gray);
    padding: 3.6rem 6rem 7.2rem 6rem;

    margin-bottom: 8rem;
  }
  .breedContainer {
    gap: 3.6rem;
  }
  .headingSecondary {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
  }
  .underline {
    width: 5.2rem;
    margin-bottom: 3rem;
  }
  .headingPrimary {
    font-size: 3rem;
    margin-bottom: 4.8rem;
  }
}
