.container {
  background-color: var(--color-light-gray);
  padding: 1.82rem 2.9rem 5.3rem 2.9rem;
  border-radius: 0 0 2.4rem 2.4rem;
  margin-bottom: 6.37rem;
}
.breedContainer {
  display: grid;
  gap: 1.3rem;
  grid-template-columns: 1fr 1fr;
}

.headingLink {
  text-decoration: none;
}
.headingSecondary {
  font-family: var(--font-main);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-brown);
  margin-bottom: 0.53rem;
}
.headingPrimary {
  font-family: var(--font-main);
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-brown);
  margin-bottom: 2.6rem;
}
.underline {
  display: inline-block;
  width: 4.0887rem;
  height: 0.3rem;
  background-color: var(--color-brown);
  border-radius: 7rem;
  margin-bottom: 1.73rem;
}
