.container {
  margin-bottom: 4.6rem;
}

.img {
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2.4rem;
  margin-bottom: 1.8rem;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-brown);
  margin-bottom: 2.4rem;
}
.description {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-brown);
}

.imgContainer {
  position: relative;
}
.span {
  display: inline-block;
  width: 2rem;
  height: 75%;

  position: absolute;
  top: 12%;
  left: -0.8rem;

  border-radius: 1.4rem 0 0 1.4rem;
  background-color: var(--color-pale-yellow);
  z-index: -1;
}

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 30% 1fr;
  }
  .img {
    grid-column: 1 2;
  }
}
