.link {
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: transform 300ms;
}

.link:hover {
  /* a little fun animation on hover */
  transform: scale(102%);
}

.imgContainer {
  position: relative;
  margin-bottom: 1.16rem;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1.2rem;
  position: relative;
}

.name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-brown);
  text-decoration: none;
}

.firstLinkImgSpan {
  display: inline-block;
  height: 78.12%;
  width: 1.6rem;

  background-color: var(--color-pale-yellow);
  border-radius: 1.4rem 0 0 1.4rem;

  position: absolute;
  top: 11.11%;
  left: -0.41rem;
  /* height: 79.3704545%; */
  /* top: 14.2727273%; */
}

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .firstLinkImgSpan {
    width: 1.6rem;
    top: 15.11%;
    left: -0.8rem;
  }
}

/* tablet landscape view: between 900px and 1200px */
@media screen and (min-width: 900px) {
  .name {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-brown);
    text-decoration: none;
  }
  .firstLinkImgSpan {
    width: 1.6rem;
    top: 15.11%;
    left: -1rem;
  }
  .imgContainer {
    margin-bottom: 1.6rem;
  }
  .image {
    border-radius: 2.4rem;
  }
}
