.container {
  margin-bottom: 4.6rem;
}

.img {
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2.4rem;
  margin-bottom: 1.8rem;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-brown);
  margin-bottom: 2.4rem;
}
.description {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-brown);
}

.imgContainer {
  position: relative;
}
.span {
  display: inline-block;
  width: 2rem;
  height: 75%;

  position: absolute;
  top: 12%;
  left: -0.8rem;

  border-radius: 1.4rem 0 0 1.4rem;
  background-color: var(--color-pale-yellow);
  z-index: -1;
}

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 17rem 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 3.6rem;
  }
  .img {
    grid-column: 1 /2;
  }
  .link {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
}

/* tablet landscape view: between 900px and 1200px */
@media screen and (min-width: 900px) {
  .container {
    margin-bottom: 4.6rem;
    column-gap: 4rem;
  }
  .imgContainer {
    grid-column: 1 /2;
    grid-row: 1 / 3;
  }
  .link {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-brown);
    margin-bottom: 1.2rem;
  }
  .description {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-brown);
  }
}

/* laptop view: between 1200px and when ever the design breaks */
@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 17rem 1fr;
    column-gap: 4.6rem;
    margin-bottom: 5.5rem;
  }
  .title {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
  }
  .description {
    font-size: 1.8rem;
    line-height: normal;
  }
  .span {
    height: 70%;

    top: 12%;
    left: -1rem;
  }
}

/* 110.4 */
/* 15.4 */
