.topSearchedHomeLink {
  text-decoration: none;
  margin-bottom: 1.9rem;
  /* box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1); */
}

.topSearchedHomeImage {
  width: 13.477rem;
  height: 13.477rem;
  object-fit: cover;
  border-radius: 1.2rem;
  margin-bottom: 1.2rem;
}

.topSearchedHomeName {
  color: #291507;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
