.heading {
  margin-bottom: 5rem;
  color: #291507;

  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 4rem;
}
