.container {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto auto;
  gap: 1.2rem;
  column-gap: 2rem;
  margin-bottom: 4rem;
}
/*   width: 13.477rem;
  height: 13.477rem; */
.img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 2.4rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.link {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-decoration: none;
}
.title {
  color: #291507;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* margin-bottom: 1.2rem; */
}
.description {
  color: #291507;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
