.heading {
  color: #291507;

  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3.4rem;
  margin-top: 2.4rem;
  text-transform: capitalize;
}
