.appLayout {
  padding: 1.28rem 1.8rem;
  padding-bottom: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
}
/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
  .appLayout {
    padding: 1.6rem 4rem;
    padding-bottom: 0;
  }
}
/* tablet landscape view: between 900px and 1200px */
@media screen and (min-width: 900px) {
  .appLayout {
    padding: 2.4rem 7.2rem;
    padding-bottom: 0;
  }
}
