.appLayout {
  padding: 1.28rem 1.8rem;
  padding-bottom: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
}

@media screen and (min-width: 600px) {
  .appLayout {
    padding: 1.6rem 4rem;
    padding-bottom: 0;
  }
}
