/* reseting paading and margins, and making the styling of elements easier with border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-brown: hsl(25, 71%, 9%);
  --color-dark-gray: hsla(0, 0%, 59%, 0.1);
  --color-light-gray: hsla(43, 11%, 88%, 1);
  --color-pale-yellow: hsla(43, 56%, 71%, 1);
  --color-faded-brown: hsla(25, 71%, 9%, 0.6);

  --color-light-brown: hsl(24, 19%, 28%);
  --color-gray: hsla(0, 0%, 88%, 1);

  --font-main: 'Montserrat', sans-serif;
  --font-logo: 'Mystery Quest', sans-serif;
}
html {
  /* This lets 1rem equal 10px to make calculations easier, and make evrything responsive, it is 10 / 16 = 0.62.5, the 16 is the default font size for browsers */
  font-size: 62.5%;
  font-family: var(--font-main);
}

/* mobile view : less than 600px */

/* tablet view: between 600px and 900px */
@media screen and (min-width: 600px) {
}
/* tablet landscape view: between 900px and 1200px */
@media screen and (min-width: 900px) {
}
/* laptop view: between 1200px and when ever the design breaks */
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1900px) {
}
