/* reseting paading and margins, and making the styling of elements easier with border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* This lets 1rem equal 10px to make calculations easier, and make evrything responsive, it is 10 / 16 = 0.62.5, the 16 is the default font size for browsers */
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
