.homepage {
  padding: 2.6rem 1.9rem;
  /* padding-bottom: 2.6rem; */
  background-image: url('./../../assets/HeroImagesm.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 2.4rem;
  border-top-left-radius: 2.4rem;
}

.homepage h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.73rem;
  color: #fff;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.homepage p {
  color: #fff;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.82rem;
}

.homepage select {
  height: 3.0705rem;
}
